
<nav class="page-navigation">
    <section class="page-navigation__columns">
        {{#each columns}}
        <div class="page-navigation__column"
            id={{colID}}
        >

            {{#each elements}}

                {{#if href}}
                <a href = "{{href}}"
                   role="{{role}}"
                   class="{{class_list}}">
                    {{text}}
                </a>

                {{else}}
                    <span> {{text}} </span>
                {{/if}}
                <br>
            {{/each}}
        </div>
        {{/each}}
    </section>
</nav>